input {
  width: 100%;
  margin: 0;
  padding: 0.25rem 0.5rem;
  background-color: var(--body-bg-color);
  color: var(--body-color);
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  outline: none;
  border-radius: 0.25rem;
  border: 1px solid  var(--border-color);
  appearance: none;
  &[type="radio"]:checked + .buttonOutlined {
    background-color: var(--link-color-hover);
    border-color: var(--link-color-hover);
    color: var(--body-bg-color); 
  }
  &[type="checkbox"]:checked + .buttonOutlined {
    background-color: var(--link-color-hover);
    border-color: var(--link-color-hover);
    color: var(--body-bg-color); 
  }
  &[type="number"]::-webkit-outer-spin-button,
  &[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &[type="number"] {
    -moz-appearance: textfield;
  }
  &[type="number"]:hover,
  &[type="number"]:focus {
    -moz-appearance: number-input;
  }
  &[type=number]::-webkit-inner-spin-button,
  &[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &[type="color"] {
    width: 100%;
    height: calc(2rem + 2px);
    padding: 0.125rem;
    border: 1px solid var(--border-color);
    border-radius: 0.25rem;
    cursor: pointer;
    &::-moz-color-swatch {
      padding: 0.125rem;
      border: 0 !important;
      border-radius: 0.25rem;
    }
    &::-webkit-color-swatch {
      padding: 0.125rem;
      border: 0 !important;
      border-radius: 0.25rem;
    }
  }
  &[type="color"]:disabled {
    width: 100%;
    height: calc(2rem + 2px);
    padding: 0.125rem;
    border: 1px solid var(--border-color);
    border-radius: 0.25rem;
    cursor: pointer;
    &::-moz-color-swatch {
      padding: 0.125rem;
      border: 0 !important;
      border-radius: 0.25rem;
    }
    &::-webkit-color-swatch {
      padding: 0.125rem;
      border: 0 !important;
      border-radius: 0.25rem;
    }
  }
}
input:disabled {
  background-color: var(--secondary-bg-color);
  color: var(--tertiary-bg-color);
  opacity: 1;
}
input:disabled::placeholder {
  color: var(--tertiary-bg-color);
  opacity: 1;
}
label {
  font-weight: bold;
}
select {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0.25rem 0.5rem;
  background-color: var(--body-bg-color);
  color: var(--body-color);
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  outline: none;
  border-radius: 0.25rem;
  border: 1px solid  var(--border-color);
  background-image: var(--select-arrow);
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 0.75rem;
  appearance: none;
  &:disabled {
    background-color: var(--secondary-bg-color);
    color: var(--tertiary-bg-color);
    opacity: 1;
  }
}
option {
  line-height: 1.5rem;
  border-radius: 0.25rem !important;
  border: 0 !important;
  &:disabled {
    color: var(--tertiary-bg-color);
    opacity: 1;
  }
}
::placeholder {
  color: var(--border-color);
}


       
   
  
    
